* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body{
	background-color: #4538ff;
	padding-top: 20px;

	-webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */

    background-attachment:fixed;
	margin: 0px;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

#map{
	width: 100%;
	height: 100%;
}


.container{
	width: 100%;
	height: 100%;
}

.center{
	text-align: center;
}

.principal{
	margin-top:100px !important;
	width: 300px;
	background: rgba(255,255,255,0.8);
	margin: 0 auto;
	border-radius: 10px;
}

.btnFooter{
	width: 300px;
	margin: 80% auto 10% auto;
	background-color:rgba(255,255,255,0.8);
	border-radius: 10px;
}
